{% extends 'researchActivities/layout.html' %}
{% load static %}
{% block title %}ورود کاربران{% endblock title %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="col-md-3">

        </div>
     <form action="" method="POST" class="form-control">
        {% csrf_token %}
         <p>{{ errormessage }}</p>
    <div class="mb-3">
        <label for="username" class="form-label">نام کاربری:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="نام کاربری را وارد کنید">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">رمزعبور:</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="رمز عبور را وارد کنید">
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="ورود">
    </div>
    </form>

    </div>

{% endblock content %}
